

/* whole page background start here */
html{
      margin: 0;
      padding: 0;
      width: 100%;
	  font-family: calibri light;
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
	  font-family: calibri light;
	  background: rgb(38, 146, 137);
}

/* whole page background ends here */




/* navigation bar style editing start here */

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 16vh;
      background: url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: rgb(247, 240, 240);
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
	  text-shadow: 4px 4px 6px brown;
}

.menu {
	margin-top: 25px;
}


.menu ul li a {
	font-size: 17px;
}

.menu ul li a:hover {
	color: rgb(230, 65, 32);
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba (0, 0, 0, 0);
      overflow: hidden;
      color: rgb(255, 245, 245);
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: rgb(7, 7, 7);
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: rgb(12, 11, 11);
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}


/* navigation bar style editing ends here */






/* Another Navibar2 Style editiong starts here */

/* dropdown0 starts here */
/* navibar container */
.navibar {
	overflow: hidden;
	background-color: rgba(70,70,70,0.2);
	font-family: calibri;
}


/*Dropdwon container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* dropdown button */
.dropdown .dbutton {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(240, 231, 231);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dbutton {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(253, 246, 246);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(255,165,0);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* dropdown0 ends here */


/* dropdown1 start here */
/* navibar container */

/*Dropdwon container */
.dropdown1 {
	float: left;
	overflow: hidden;
}

/* dropdown button */
.dropdown1 .dbutton1 {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(253, 249, 249);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown1:hover .dbutton1 {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: rgba(10, 9, 9, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  float: none;
  color: rgb(247, 240, 240);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content1 a:hover {
  background-color: rgb(255,165,0);
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}
/*dropdown1 ends here */

/* dropdown2 start here */
/* navibar container */

/*Dropdwon container */
.dropdown2 {
	float: left;
	overflow: hidden;
}

/* dropdown button */
.dropdown2 .dbutton2 {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(241, 237, 237);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown2:hover .dbutton2 {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: rgb(255,165,0);
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}
/*dropdown2 ends here */

/* dropdown3 start here */
/* navibar container */

/*Dropdwon container */
.dropdown3 {
	float: left;
	overflow: hidden;
}

/* dropdown button */
.dropdown3 .dbutton3 {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(243, 233, 233);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown3:hover .dbutton3 {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*Text alignment*/
.h1 {
text-align: center;
width: 100%
}



/* Links inside the dropdown */
.dropdown-content3 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: rgb(255,165,0);
}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
  display: block;
}
/*dropdown3 ends here */

/* dropdown4 start here */
/* navibar container */

/*Dropdwon container */
.dropdown4 {
	float: left;
	overflow: hidden;
}

/* dropdown button */
.dropdown4 .dbutton4 {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(243, 235, 235);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown4:hover .dbutton4 {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: rgba(10, 9, 9, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  float: none;
  color: rgb(247, 240, 240);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content4 a:hover {
  background-color: rgb(255,165,0);
}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown-content4 {
  display: block;
}
/*dropdown4 ends here */

/*signin buttton editing starts here */
.signin {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(238, 228, 228);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-decoration: none; 
}

.signin:hover {
	background-color: red;
}

/* signin button editing ends here */

/* Another Navibar2 style editing ends here */






/* Style to prev-next button and caption text and dots start here (all slideshows) */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: max;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: red;
}

.image {
	width: 1519px;
	height: 500px;
}

.image:hover {
	cursor: pointer;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.s2text{
	font-size: 60px;
	color: white;
	position: absolute;
	top: 120px;
	left: 200px;
}
.s2text1{
	font-family: calibri light;
	font-size:35px;
	color: white;
	position: absolute;
	left: 135px;
	top: 200px;
}

.s4text{
	font-size: 40px;
	color: white;
	position: absolute;
	top: 120px;
	left: 170px;
	text-align: center;
}
.s4text1{
	font-family: calibri light;
	font-size:60px;
	color: white;
	position: absolute;
	left: 170px;
	top: 190px;
	text-align: center;
}

.s5text{
	font-family: Haettenschweiler;
	font-size: 60px;
	color: white;
	position: absolute;
	top: 120px;
	left: 170px;
	text-align: center;
}
.s5text1{
	font-family: calibri light;
	font-size:16px;
	color: white;
	position: absolute;
	left: 170px;
	top: 205px;
	text-align: center;
}

.s6text{
	font-family: Bahnschrift SemiLight Condensed;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 120px;
	left: 150px;
	text-align: center;
	color: white;
}
.s6text1{
	font-family: calibri light;
	font-size:60px;
	color: white;
	position: absolute;
	left: 150px;
	top: 180px;
	text-align: center;
}
.s6text2{
	font-family: calibri;
	font-size:15px;
	color: white;
	position: absolute;
	left: 180px;
	top: 270px;
	text-align: center;
	font-weight: bold;
}
/* Style to prev-next button and caption text and dots ends here (all slideshows) */









/* 3 geed columns style start here */
/* Four image containers (use 25% for four, and 50% for two, etc) */

.h1{
	margin-left: 10px;
	font-family: calibri light;
	font-size: 50px;
	color: rgb(20, 18, 18);
}

.column {
  float: left;
  width: 22.40%;
  padding: 10px;
  margin-left: 20px;
}

.columnimage {
	width: 100%;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.5);
}

.columnimage:hover {
	box-shadow: 1px 1px 1px 1px rgba(255,0,0,1);
}

.gridcolumntext {
	font-family: calibri light;
		text-align: center;
		padding-top: 0px;
		color:white;
		font-size: 19px;
		cursor: pointer;
		margin-bottom: 0;
		margin-top: 0.2cm;
		text-decoration: none;
}

.gridcolumntext:hover {
	color:orange;
}

.gridcolumntext1 {
	color:white;
	padding-right:5px;
	margin-top: 2px;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: 10px;
	text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
	padding-left: 50px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* 3 grid columns ends here*/

video {
    position: absolute;
    top: 1023px; /* Adjust top position */
    left: 390px; /* Adjust left position */
	width: 1000px;
}

.monitortext {
	color: white;
	position: absolute;
	top: 1380px;
	left: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top:15px;
	padding-bottom:15px;
	background: rgb(0,0,0, 0.4);
}
.monitortext:hover {
	color: black;
	cursor: pointer;
}



.head1{
	margin-left: 660px;
	font-family: calibri light;
	font-size: 30px;
	color: white;
}

.head2{
	margin-left: 150px;
	font-family: calibri light;
	font-size: 30px;
	color: white;
}
.head3{
	margin-left: 150px;
	font-family: calibri;
	font-size: 15px;
	color: white;
}
.head4{
	margin-left: 150px;
	font-family: arial;
	font-size: 20px;
	color: white;
	box-sizing: content box;
	width: 1200px;
	height: 100px;
	border: 1px solid black;
	border-bottom: 2px solid dodgerblue;
	padding-top: 30px;
	padding-left: 50px; 
	background: #181818;
}
.head4:hover{
	color: red;
	cursor: pointer;
}
.head5{
	color: white;
	font-size: 15px;
	font-family: calibri light;
	text-align: center;
}

.legiontext {
	color: cyan;
	font-size: 13px; 
	margin-left: 1036.5px; 
	margin-top: -148.3px;
}
.legiontext:hover{
	color: white;
	cursor: pointer;
}
.legiontext1 {
	color: cyan;
	font-size: 13.1px; 
	margin-left: 184.7px; 
	margin-top: -49.2px;
}
.legiontext1:hover{
	color: white;
	cursor: pointer;
}
.legiontext2 {
	color: cyan;
	font-size: 13.1px; 
	margin-left: 799px; 
	margin-top: -14.4px;
}
.legiontext2:hover{
	color: white;
	cursor: pointer;
}



/* footer starts from here */

* {
  margin:0%;
}
html, body {
  height: 100%;
}
.footer {
  height: 200px; 
}
.footer {
  background-color: rgba(128,128,128,0.5);
}

.ftext1 {
	font-family: calibri light;
	font-weight: none;
	color: white;
	padding-top:20px;
	margin-left: 321px;
}

.socialimages {
	width: 1cm;
	margin-bottom: 16px;
	margin-left: 5px;
	cursor: pointer;
	margin-top: 10px;
}
.footer .search-container button {
	float: absolute;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background-color: rgba(0,0,0,0);
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.cornerlogo {
	font-weight: bold;
	color: black;
	margin-left: -50px;
	margin-top: 100px;
	font-size: 12px;
}

.footer .search-container {
	float: left;
	margin-left:50px;
	margin-top: 37px;
	background-color: rgba(255,255,255,0);
}

.footer .search-container button:hover {
  background: rgba(0,0,0,0);
}

.footer .searchbutton {
	width:0.55cm;
	margin-left: -12px;
	margin-top: -1px;
}

.footer input[type="text"]
{
	border: none;
	border-bottom: 2px solid #262626;
	outline: none;
	height: 40px;
	color: #262626;
	background: transparent;
	font-size: 16px;
	padding-left: 20px;
	box-sizing: border-box;
}

::placeholder{
	color: black;
}

.end1 {
	margin-left: -265px;
	color: black;
	font-size: 13px;
	font-weight: bold;
	
}

.end2{
	margin-left: 100px;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.end3 {
	margin-left: 100px;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.end4 {
	margin-left: 100px;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.end5 {
	margin-left: 100px;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

/* footer ends here */
